name: Python Unit Tests

on:
  push:
    branches:
      - main  # Change this to your main branch name
  pull_request:
    branches:
      - main  # Change this to your main branch name

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run unit tests with coverage
      env:
        PYTHONPATH: ${{ github.workspace }}/src
      run: |
        pip install coverage
        coverage run -m pytest tests/unit --log-cli-level INFO

    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v3
