name: Python Unit Tests

on:
  push:
    branches:
      - main  # Change this to your main branch name
  pull_request:
    branches:
      - main  # Change this to your main branch name

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run unit tests with coverage
      env:
        PYTHONPATH: ${{ github.workspace }}/omc
      run: |
        pip install coverage
        coverage run --source omc -m pytest tests/unit --log-cli-level INFO

    - name: Assert coverage percentage
      run: |
        coverage report --fail-under=75
        COVERAGE=$?
        echo "Coverage exit code: $COVERAGE"
        exit $COVERAGE

  tox:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: [3.11]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Tox
      run: pip install tox

    - name: Run Tox tests
      env:
        PYTHONPATH: ${{ github.workspace }}/omc
      run: tox
